@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#memberCardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
    width: 15em;
    height: 30em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    margin-bottom: 2em;
    align-items: flex-start;
    position: relative;
}

.crown {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}

.imageHolder {
    width: 10em;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}
.employeeImage {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}
.bio {
    height: 12em;
    overflow-y: auto;
    margin-bottom: 3.5em;
}

.rolesHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.role {
    padding: 0.4em 0.8em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    color:white;
    text-shadow: 1px 1px 4px grey;
}